<div
  id="backdrop"
  [ngClass]="{ hidden: !opened }"
  (click)="clicked.emit()"
></div>

<div id="container">

  <div id="data">
    <div class="area">
      <app-pokemon-card
        [fullData]="pokemon"
        [selected]="true"
      />
    </div>

    <div class="area">
      <div class="typeContainer">
        <span class="label">Tipo</span>
        <app-type
          *ngFor="let type of pokemon?.types"
          [type]="type.type.name"
        />
      </div>
      <p>
        <span class="label">Altura</span>
        {{ pokemon?.height | metros | number:'1.1-2' }} m
      </p>

      <p>
        <span class="label">Peso</span>
        {{ pokemon?.weight | kilos | number:'1.1-2' }} Kg
      </p>
    </div>

    <div class="area">
      <div id="descriptionContainer">
        <div></div>
        <p>{{ description }}</p>
        <div></div>
      </div>
    </div>
  </div>

  <button (click)="clicked.emit()">
    <img
      src="./../../../assets/img/arrow.png"
      [ngClass]="{ opened: opened }"
    >
  </button>
</div>
