
@use './../assets/styles/var.scss';

header {
  align-items: center;
  background: linear-gradient(
    to right,
    #6188ff,
    #6188ff 70%,
    #71a4f3 71%,
    #71a4f3 97%,
    #8ec0f0 100%
  );
  display: flex;
  height: 75px;
  justify-content: space-between;
  padding: 0 20px;
  user-select: none;

  a {
    background-color: #4379cf;
    border-radius: 50px;
    color: var.$white-text;
    font-size: x-large;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    text-decoration: none;
  }
}

#titleContainer {
  align-items: center;
  background-color: #88daf2;
  border: solid 3px #30408d;
  border-radius: 50px;
  color: var.$white-text;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 5px;
  width: 300px;

  img {
    height: 40px;
  }

  h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    -webkit-text-stroke: 2px #30607a;
  }
}

footer{
  align-items: center;
  background-color: #619cde;
  color: var.$white-text;
  display: flex;
  height: 35px;
  justify-content: flex-end;

  a {
    color: var.$white-text;
    text-decoration: none;
  }

  p {
    margin: 0 20px;
  }

  kbd {
    aspect-ratio: 1;
    background-color: #6e6b67;
    border-radius: 50%;
    display: inline-block;
    font-size: xx-large;
    line-height: 26px;
    margin:  0 5px;
    text-align: center;
    width: 26px;
  }
}
