<header>
  <div id="titleContainer">
    <img src="./../assets/img/blue-pokeball.svg">
    <h1>Pokédex</h1>
    <img src="./../assets/img/blue-pokeball.svg">
  </div>
  <a
    href="#"
    id="sortButton"
    (click)="changeOrder()"
  >
    By {{ pokemonService.orderBy }}
  </a>
</header>

<router-outlet/>

<footer>
  <p>
    <kbd>X</kbd>
    <a
      href="https://www.linkedin.com/in/hectorgtez/"
      target="_blank"
    >
      Perfil de LinkedIn
    </a>
  </p>

  <p>
    <kbd>A</kbd>
    Elaborado por Héctor Gutiérrez
  </p>
</footer>
