<main id="container">
  <app-pokemon-info
    [pokemon]="selectedPokemon"
    [opened]="info"
    (clicked)="changeInfoStatus()"
    [ngClass]="{ opened: info }"
  />

  <app-pokemon-sprite
    [pokemon]="selectedPokemon"
    [ngClass]="{ opened: info }"
  />

  <div class="content">
    <div class="filters">
      <!-- Color filter -->
      <select
        name="colorFilter"
        #colorFilter
        class="filter"
        (change)="onChangeFilter('color', colorFilter.value)"
      >
        <option value="">By Color</option>
        <option
          *ngFor="let color of pokemonService.cColors()"
          [value]="color.name"
        >
          {{ color.name | titlecase }}
        </option>
      </select>

      <!-- Egg group filter -->
      <select
        name="eggGroupFilter"
        #eggGroupFilter
        class="filter"
        (change)="onChangeFilter('eggGroup', eggGroupFilter.value)"
      >
        <option value="">By Egg Group</option>
        <option
          *ngFor="let eggGroup of pokemonService.cEggGroups()"
          [value]="eggGroup.name"
        >
          {{ eggGroup.name | titlecase }}
        </option>
      </select>
    </div>

    <div
      class="cardsContainer"
      #cards
      (scroll)="onScroll($event)"
    >
      <app-pokemon-card
        *ngFor="let pokemon of pokemonService.cPokemons() | orderBy:pokemonService.cOrderBy()"
        [data]="pokemon"
        [selected]="pokemon.name === selectedPokemon?.name"
        (clicked)="cardClicked($event)"
      />

      <img
        *ngIf="loading"
        id="spinner"
        src="./../../../assets/img/spinner.svg"
        alt="Loading..."
      >
    </div>
  </div>
</main>
