<main id="container">
  <app-pokemon-info
    [pokemon]="selectedPokemon"
    [opened]="info"
    (clicked)="changeInfoStatus()"
    [ngClass]="{ opened: info }"
  />
  <app-pokemon-sprite
    [pokemon]="selectedPokemon"
    [ngClass]="{ opened: info }"
  />
  <div
    id="cardsContainer"
    #cards
    (scroll)="onScroll($event)"
  >
    <app-pokemon-card
      *ngFor="let pokemon of pokemonService.pokemonList"
      [data]="pokemon"
      [selected]="pokemon.name === selectedPokemon?.name"
      (clicked)="cardClicked($event)"
    />
    <img
      *ngIf="loading"
      id="spinner"
      src="./../../../assets/img/spinner.svg"
      alt="Loading..."
    >
  </div>
</main>
