$white-text: #f0fbff;

// Type colors
$type-bug: #90c12c;
$type-dark: #595366;
$type-dragon: #096dc4;
$type-electic: #f3d23b;
$type-fairy: #ec8fe6;
$type-fighting: #ce4069;
$type-fire: #fe9c54;
$type-flying: #92aade;
$type-ghost: #5169ac;
$type-grass: #63bb5b;
$type-ground: #d97746;
$type-ice: #74cec0;
$type-normal: #9099a1;
$type-poison: #ab6ac8;
$type-psychic: #f97076;
$type-rock: #c7b78b;
$type-steel: #5a8ea1;
$type-water: #4d90d5;
